#app {
  display: flex;

}

.mainForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  max-width: 50%;
  height: 100%;
}

.avitoAddress {
  width: 50%;
  border: 1px solid green;
  background-color: rgba(255, 247, 0, 0.369);
}
